body {
    margin: 0;
    background: url("../img/bg.jpg");

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-ph {
    padding: 20px;
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-tt {
    font-size: 20px;
    text-align: center;
}

.hrefs {
    display: block;
    text-align: center;

}

.menu {
    display: flex;
    justify-content: space-between;
    width: 200px;
    line-height: 25px;
    i {
        font-size: 20px;
        color: black;
        transition: 0.5s all;
        text-decoration: none;
        &:hover {
            color: purple;
            transition: 0.5s all;
        }
    }
}

.info {
    text-align: center;
}
